<html>
  <head>
    <title><%=@title%><%=" - " if @title%>Rack Server Pages</title>
    <link href="<%=url("/style.css")%>" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <%= yield if block_given? %>
  </body>
</html>
